/*------------------------------------*\
  #BASE
\*------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  min-height: 100vh;
}

p, li {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 32px 0;
}

hr {
  width: 32px;
  height: 3px;
  background-color: #D8D8D8;
  border: 0;
}

h1 {
  margin: 0;
  font-weight: 700;
  color: #333333;
  font-size: 32px;
  line-height: 40px;
}

h2,
.byline {
  margin: 32px 0 16px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

a {
  color: #333333;
  border-bottom: 1px solid #333333;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  p, li {
    font-size: 20px;
    line-height: 32px;
  }

  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  h2,
  .byline {
    margin-top: 64px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
  }
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.page {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1180px) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    ". main ."
    ". footer .";
}

.page--about main {
  margin-top: 104px;
}

main {
  grid-area: main;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.about-article {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "page-title"
    "biography"
    "portrait";
}

.about-article__title {
  grid-area: page-title;
}

.about-article__portrait {
  grid-area: portrait;
}

.about-article__biography {
  grid-area: biography;
}

.about-article hr {
  margin: 16px 0 32px 0;
}

.about-article__portrait img {
  width: 100%;
  height: auto;
}

.byline {
  margin-top: 8px;
}

@media only screen and (min-width: 768px) {
  .about-article {
    grid-template-columns: 33% 1fr;
    grid-template-areas:
      "page-title page-title"
      "portrait biography";
  }

  .about-article__portrait img {
    width: 100%;
    height: auto;
  }

  .about-article hr {
    margin: 48px 0 56px 0;
  }

  .byline {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1180px) {
  .about-article {
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
  }

  .about-article__portrait img {
    width: 444px;
    height: 616px;
  }
}

/**
 * #Header
 */

.header {
  /* header is not treated as part of page grid because of position: fixed */
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1180px) 1fr;
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
}

.header__content {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-link {
  padding: 20px 0;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  border-bottom: none;
  font-weight: 300;
}

.header__nav-link--selected {
  border-bottom: 4px solid #1D00FF;
  font-weight: 500;
}

.header__logotype {
  font-weight: 800;
  font-size: 20px;
  color: #5F5F5F;
}

/**
 * #Hero
 */

.hero {
  margin-top: 128px;
}

.hero__heading {
  margin-top: 36px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.hero__profile-img {
  border-radius: 50%;
  display: block;
  width: 96px;
  height: 96px;
}

.hero hr {
  margin: 16px 0 48px 0;
}

@media only screen and (min-width: 768px) {
  .hero__heading {
    width: 680px;
    font-size: 24px;
    line-height: 40px;
  }

  .hero hr {
    margin-bottom: 72px;
  }
}

/**
 * #Projects List
 */

.works {
  margin-bottom: 128px;
}

.works__heading {
  text-transform: uppercase;
  color: #888888;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}

.works__cards {
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: none;
  margin-bottom: 24px;
}

.card__top {
  width: 100%;
  height: 224px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card--car-insurance .card__top {
  background-color: #F7F4AD;
}

.card--frontend .card__top {
  background-color: #F7C2AB;
}

.card--rtp .card__top {
  background-color: #96D6CE;
}

.card--car-insurance .card__image {
  width: 154px;
}

.card--frontend .card__image {
  width: 300px;
}

.card--rtp .card__image {
  width: 154px;
}

.card__body {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #FFFFFF;
  padding: 24px;
}

.card__title {
  font-size: 16px;
  line-height: 24px;
}

.card__description {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  color: #595959;
}

@media only screen and (min-width: 768px) {
  .works__cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 49%;
  }

  .card__title {
    font-size: 20px;
    line-height: 32px;
  }

  .card__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1180px) {
  .card {
    width: 32%;
  }

  .card__title {
    font-size: 20px;
    line-height: 32px;
  }

  .card__description {
    font-size: 16px;
    line-height: 24px;
  }
}

/**
 * #Employment History
 */

.employment-history {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.employment-history li {
  margin-bottom: 32px;
}

.employment-history .job-title {
  font-weight: 500;
}

/**
 * #Footer
 */

.footer {
  grid-area: footer;
  border-top: 1px solid #C2C2C2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__copyright {
  width: 100%;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer__link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-wrap: nowrap;
  }

  .footer__copyright {
    width: auto;
  }

  .footer__link {
    float: left;
    padding: 24px;
    margin: 0;
  }

  .footer__link a {
    display: inline-block;
  }
}
