/*------------------------------------*\
  #BASE
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Domine:700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p, li {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
}

hr {
  width: 32px;
  height: 3px;
  background-color: #D8D8D8;
  border: 0;
}

h1 {
  margin: 0;
  font-weight: 700;
  color: #333333;
  font-size: 32px;
  line-height: 40px;
}

h2,
.byline {
  margin: 32px 0 16px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

a {
  color: #333333;
  border-bottom: 1px solid #333333;
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  p, li {
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 32px 0;
  }

  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  h2,
  .byline {
    margin-top: 64px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.grid {
  display: grid;
  grid-template-columns:  [full-start] minmax(20px, 1fr)
                          [wide-start] minmax(auto, 200px)
                          [narrow-start] minmax(auto, 780px) [narrow-end]
                          minmax(auto, 200px) [wide-end]
                          minmax(20px, 1fr) [full-end];
}

.grid__item--full {
  grid-column: full;
}

.grid__item--wide-media {
  grid-column: full;
}

.grid__item--wide-body {
  grid-column: wide;
}

.grid__item--narrow {
  grid-column: wide;
}

/* This needs a better name than 'special-grid'
  Also need to name the grid track lines for readability */

.special-grid {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.special-grid__item {
  grid-column: 1 / -1;
}

.special-grid__item--body,
.special-grid__item--full {
  padding: 0 20px;
}

.page__container {
  padding-top: 104px;
  flex: 1 0 auto;
}

/* Define rows for home page grid */
.page--home .grid {
  grid-template-rows: auto 1fr;
}

@media only screen and (min-width: 768px) {
  .grid__item--wide-media {
    grid-column: wide;
  }

  .grid__item--narrow {
    grid-column: narrow;
  }

  .special-grid__item--media {
    grid-column: 1;
  }

  .special-grid__item--body {
    grid-column: 2;
    padding: 0;
  }

  .special-grid__item--full {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .special-grid {
    grid-template-columns: 1fr 2fr;
  }
}

/*.page__container {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 1180px) minmax(20px, 1fr);
}

.page__container > * {
  grid-column: 2;
}

.page--about main {
  margin-top: 104px;
}

main {
  grid-area: main;
}*/

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.about-article {
  max-width: 1180px;
  margin: 0 auto;
}

.about-article hr {
  margin: 16px 0 32px 0;
}

.about-article__portrait img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.byline {
  margin-top: 8px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {

  .about-article {
    padding: 0 20px;
  }

  .about-article__portrait img {
    width: 100%;
    height: auto;
  }

  .about-article hr {
    margin: 48px 0 56px 0;
  }

  .byline {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1180px) {
  /*.about-article {
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
  }*/

  .about-article__portrait img {
    width: 444px;
    height: 616px;
  }
}

/**
 * #Text Styles
 */

.content-link:hover {
  background-color: #F7F4AD;
}

/**
 * #Header
 */

.header {
  /* header is not treated as part of page grid because of position: fixed */
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 1180px) minmax(20px, 1fr);
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.header__content {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-link {
  padding: 20px 0;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  border-bottom: none;
  font-weight: 300;
  position: relative;
}

.header__nav-link:before {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: #D8D8D8;
  transition: all 0.1s;
}

.header__nav-link:hover:before {
  height: 4px;
}

.header__nav-link--selected {
  font-weight: 500;
}

.header__nav-link--selected:before {
  height: 4px;
  background: #1D00FF;
}

.header__logotype {
  font-family: 'Domine', serif;
  font-weight: 700;
  font-size: 20px;
  color: #5F5F5F;
  border: 0;
  padding: 12px 0;
  transition: all 0.2s;
}

.header__logotype:hover {
  color: #A8A8A8;
}

/**
 * #Hero
 */

.hero__line {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 8px;
}

.hero__profile-img {
  border-radius: 50%;
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 36px;
}

.hero hr {
  margin: 32px 0 48px 0;
}

@media only screen and (min-width: 768px) {
  .hero__line {
    width: 100%;
    font-size: 24px;
    line-height: 40px;
  }

  .hero hr {
    margin: 48px 0 72px 0;
  }
}

/**
 * #Projects List
 */

.works__heading {
  text-transform: uppercase;
  color: #888888;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}

.works__cards {
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: none;
  margin-bottom: 24px;
  position: relative;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.card--no-link {
  cursor: default;
}

.card__overlay-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(137, 137, 137, 0);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  transition: all 0.25s ease-in;
}

.card__overlay-text:hover {
  color: rgba(137, 137, 137, 1.0);
}

.card__top {
  width: 100%;
  height: 224px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card--car-insurance .card__top {
  background-color: #F7F4AD;
}

.card--frontend .card__top {
  background-color: #F7C2AB;
}

.card--rtp .card__top {
  background-color: #96D6CE;
}

.card--7geese-cs .card__top {
  background-color: #FCE2D2;
}

.card--car-insurance .card__image {
  width: 154px;
}

.card--frontend .card__image {
  width: 300px;
}

.card--rtp .card__image {
  width: 154px;
}

.card--7geese-cs .card__image {
  width: 316px;
}

.card__body {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #FFFFFF;
  padding: 24px;
}

.card__category {
  font-size: 10px;
  line-height: 16px;
  color: #595959;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card__title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.card__description {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  color: #595959;
}

@media only screen and (min-width: 768px) {
  .works__cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 49%;
  }

  .card__title {
    font-size: 20px;
    line-height: 32px;
  }

  .card__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1180px) {
  .card {
    width: 32%;
  }

  .card__title {
    font-size: 20px;
    line-height: 32px;
  }

  .card__description {
    font-size: 16px;
    line-height: 24px;
  }
}

/**
 * #Employment History
 */

.employment-history {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.employment-history li {
  margin-bottom: 32px;
}

.employment-history .job-title {
  font-weight: 500;
}

/**
 * #Project Case Study
 */

.lead {
   font-size: 18px;
   line-height: 28px;
 }

.lead:last-child {
  margin-bottom: 20px;
}

.cba-logo,
.sg-logo {
  height: 32px;
  width: 32px;
  vertical-align: top;
  margin-left: 8px;
}

.summary {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.summary__heading {
  text-transform: uppercase;
  color: #888888;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}

.case-study-image {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .lead {
    font-size: 24px;
    line-height: 36px;
  }

  .lead:last-child {
    margin-bottom: 40px;
  }

  .cba-logo,
  .sg-logo {
    height: 40px;
    width: 40px;
  }

  .summary {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .summary__heading {
    font-size: 16px;
  }

  .summary__item {
    width: 32%;
  }
}

/**
 * #Numbered List
 */

.numbered-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.numbered-list li {
  counter-increment: step-counter;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 40px;
}

.numbered-list li:before {
  content: counter(step-counter);
  color: #333333;
  font-size: 14px;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 0;
  background-color: #d8d8d8;
  text-align: center;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .numbered-list li {
    font-size: 20px;
    line-height: 32px;
    padding-left: 64px;
  }

  .numbered-list li:before {
    font-size: 16px;
    height: 32px;
    width: 32px;
  }
}

/**
 * #Buttons
 */

.button {
  display: inline-block;
  height: 48px;
  font-size: 16px;
  min-width: 150px;
  padding: 0 30px;
  margin-bottom: 32px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  border: 1px solid #333333;
  border-radius: 30px;
  line-height: 48px;
  transition: .35s cubic-bezier(0.39,0.575,0.565,1);
}

.button:hover {
  border: 1px solid #d3d2d2;
  color: #666666;
}

/**
 * #Article Separator
 */

.article-separator {
  margin-top: 32px;
  margin-bottom: 32px;
}

/**
 * #Video Mockup
 */

.mockup {
  display: flex;
  justify-content: center;
  background-color: #F7C2AB;
  padding: 20px;
}

@media only screen and (min-width: 576px) {
  .mockup__video {
    width: 375px;
    height: 664px;
  }
}

/**
 * #Footer
 */

.footer {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 1180px) minmax(20px, 1fr);
  margin-top: 48px;
}

.footer__content {
  grid-column: 2;
  border-top: 1px solid #C2C2C2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__copyright {
  width: 100%;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer__link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 96px;
  }

  .footer__content {
    flex-wrap: nowrap;
  }

  .footer__copyright {
    width: auto;
  }

  .footer__link {
    float: left;
    padding: 24px;
    margin: 0;
  }

  .footer__link a {
    display: inline-block;
  }
}
